/* default style */
* {
	margin: 0;
	padding: 0;
	list-style: none;
	font-family: 'Open Sans', sans-serif;
}

/* html and body element occupy all the available height */
html, body {
	height: 100%;
}

/* maximum width for the containers (class="container") */
.container {
	width: 960px;
	margin: 0 auto;
}

/* defines the header style (class="header") */
.header {
	background-color: #303030;
	height: 60px;
	line-height: 60px;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
}

    /* defines the style for the logo inside the header (class="logo" inside the "header" class) */
    .header .logo {
        max-width: 60px;
        vertical-align: middle;
    }

    /* defines the style for the menu inside the header (class="menu" inside the "header" class) */
    .header .menu {
        float: right;
        cursor: default;
    }

    /* defines the style for the li element inside the "header" class */
    .header .menu ul li {
        display: inline-block;
        margin-right: 5px;
        margin-left: 5px;
    }

    /* defines the style for the a links inside the "header" class. "text-decoration: none" removes the underline */
    .header .menu ul li a {
        color: #ffffff;
        text-decoration: none;
        display: block;
        padding: 0 10px;
    }

    /* defines the style when user passes the mouse over the a links inside the "header" class. */
    .header .menu ul li a:hover {
        background-color: #1abc9c;
    }

.section {
	padding-top: 60px;
	width: 100%;
	min-height: 100%;  /* min-height: 100% means that each section will fit 1 entire "screen" */
	text-align: center;
	color: #ffffff;
}

.home {
    /* loads the background image from the images folder */
	background-image: url('../images/vem-pro-front-background.jpg');
	background-repeat: no-repeat;
	background-position: 40% 10%;
}

	.title-home {
		font-size: 5.6em;
		color: #ffffff;
		text-shadow: 0 8px 12px #000000;
		text-transform: uppercase;
		padding-top: 15%;
	}

	.subtitle-home {
		font-size: 3em;
		color: #1abc9c;
		text-align: right;
		margin-right: 120px;
	}

.instructor {
	background-color: #252525;
}

	.instructor .image {
		box-shadow: 3px 5px 0 #1abc9c;
		border-radius: 50%;
	}

	.instructor .contacts li {
		display: inline-block;
	}

    .instructor .contacts-images {
    	background-image: url('../images/images-sprites.png');
    	background-repeat: no-repeat;
    	width: 70px;
    	height: 70px;
    	display: block;
    }

    .instructor .facebook {
    	background-position: -31px -310px;
    }

    .instructor .linkedin {
    	background-position: -113px -310px;
    }

    .instructor .mail {
    	background-position: -198px -310px;
    }

.day1 {
	background-color: #1abc9c;
}

	.day1 .subject-container {
	  	width: 100%;
	    display: -webkit-flex;
	    display: flex;
	}

	.day1 .subject-container .subject-item {
		flex: 1 1 auto;
		margin: 0 5px;
	}

	.day1 .subject-container .subject-item .image {
		background-image: url('../images/images-sprites.png');
		background-repeat: no-repeat;
		width: 245px;
		height: 245px;
		display: block;
	}

	.day1 .subject-container .subject-item .column1 {
		background-position: -282px -28px;
	}

	.day1 .subject-container .subject-item .column2 {
		background-position: -560px -28px;
	}

	.day1 .subject-container .subject-item .column3 {
		background-position: -830px -28px;
	}

.day2 {
    	background-color: #e55126;
    }

	.day2 .image {
		float: left;
		margin-left: 150px;
		margin-right: 30px;
		display: block;
		width: 245px;
		height: 245px;
		background: url('../images/images-sprites.png');
		background-repeat: no-repeat;
		background-position: -1378px -27px;
	}

	.day2 .subjects {
		text-align: left;
		font-size: 24px;
	}

.day3 {
	background-color: #0c73b8;
	text-align: center;
}

	.day3 .image {
		float: left;
		margin-left: 150px;
		margin-right: 30px;
		display: block;
		width: 245px;
		height: 245px;
		background: url('../images/images-sprites.png');
		background-repeat: no-repeat;
		background-position: -1103px -27px;
	}

	.day3 .subjects {
		text-align: left;
		font-size: 24px;
	}

.day4 {
	background-color: #e5a228;
	text-align: center;
	color: #000000;
    }

	.day4 .image {
		float: left;
		margin-left: 150px;
		margin-right: 30px;
		display: block;
		width: 245px;
		height: 245px;
		background: url('../images/images-sprites.png');
		background-repeat: no-repeat;
		background-position: -1649px -27px;
	}

	.day4 .subjects {
		text-align: left;
		font-size: 24px;
	}

.participants {
	color: #1abc9c;
}

	.participants .persons li {
		display: inline-block;
		margin: 0 5px;
	}

	.participants .persons li img {
		border-width: 1px;
		border-style: solid;
		border-color: #1abc9c;
	}

	.participants .persons li figcaption {
		color: #333333;
	}
