/* default style */
* {
	margin: 0;
	padding: 0;
	list-style: none;
	font-family: 'Open Sans', sans-serif;
}

/* html and body element occupy all the available height */
html, body {
	height: 100%;
}

/* maximum width for the containers (class="container") */
.container {
	width: 960px;
	margin: 0 auto;
}

/* defines the header style (class="header") */
.header {
	background-color: #303030;
	height: 60px;
	line-height: 60px;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
}

    /* defines the style for the logo inside the header (class="logo" inside the "header" class) */
    .header .logo {
        max-width: 60px;
        vertical-align: middle;
    }

    /* defines the style for the menu inside the header (class="menu" inside the "header" class) */
    .header .menu {
        float: right;
        cursor: default;
    }

    /* defines the style for the li element inside the "header" class */
    .header .menu ul li {
        display: inline-block;
        margin-right: 5px;
        margin-left: 5px;
    }

    /* defines the style for the a links inside the "header" class. "text-decoration: none" removes the underline */
    .header .menu ul li a {
        color: #ffffff;
        text-decoration: none;
        display: block;
        padding: 0 10px;
    }

    /* defines the style when user passes the mouse over the a links inside the "header" class. */
    .header .menu ul li a:hover {
        background-color: #1abc9c;
    }

.section {
	padding-top: 60px;
	width: 100%;
	min-height: 100%;  /* min-height: 100% means that each section will fit 1 entire "screen" */
	text-align: center;
	color: #0000ff;
}

.home {
    /* loads the background image from the images folder */
	background-image: url('../images/vem-pro-front-background.jpg');
	background-repeat: no-repeat;
	background-position: 40% 10%;
}

	.title-home {
		font-size: 5.6em;
		color: #ffffff;
		text-shadow: 0 8px 12px #000000;
		text-transform: uppercase;
		padding-top: 15%;
	}

	.subtitle-home {
		font-size: 3em;
		color: #1abc9c;
		text-align: right;
		margin-right: 120px;
	}
